.SiteMapDiv
{
	padding: 5px 0px 0px 5px;
	border: 1px solid #f3f3f3;
}
.SiteMapDiv #Span1
{
	border: 0px solid #008000;
	height: 100px;
	padding-right: 430px;
}
.SiteMapDiv #Span2
{
	border: 0px solid #FF0000;
	
}


.SiteMapDiv ol
{
	border: 1px dotted #008080;
	background-color: #f3f3f3;
}
.SiteMapDiv a
{
	font-family: Georgia;
	font-size: 14px;
	text-decoration: none;
	
}
.SiteMapDiv #SiteMapDiv1
{
	float: left;
	width: 330px;
}

 #bottonimage
{
	border: thin none #FF00FF;
	float: left;
	width: 400px;
	height: 80px;
	background-image: url('../frontimages/background/arrowpointingtoptop.jpg');
	background-repeat: no-repeat;
	margin-left: 230px;
}

.SiteMapDiv #SiteMapDiv2
{
	float: right;
	width: 330px;
}
.SiteMapDiv a:hover
{
	font-family: Georgia;
	
	text-decoration:underline;
}

.SiteMapDiv li#headerli
{
	border-style: none;
	padding-left: 15px;
	height: 20px;
	background-image: url('../frontimages/background/sitemapback20h.gif');
	background-repeat: repeat-x;
}

.SiteMapDiv li a
{
	font-family: Georgia;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
}	

.SiteMapDiv li#headerli a
{
	font-family: Georgia;
	font-size: 14px;
	text-decoration: none;
	color: #FFFFFF;
}	